<!DOCTYPE html>
<html>
<head>
  <title>Trolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag "troll.ico" %>
</head>
<body>

<%= yield %>

</body>
</html>
